<!DOCTYPE html>
<html lang="fr">
<%- include('partials/head') %>

    <body>
        <div id="app">
            <%- include('partials/components/cursor') %>
                <%- include('partials/components/toast') %>

                    <%- include('partials/screens/login') %>
                        <%- include('partials/screens/game') %>

                            <%- include('partials/components/color-popover') %>

                            <%- include('partials/modals/confirmation') %>
                                <%- include('partials/modals/kick-confirmation') %>
                                    <%- include('partials/modals/alert') %>
                                        <%- include('partials/modals/help') %>

                                                <%- include('partials/components/avatar-tooltip') %>
                                                    <%- include('partials/modals/custom-word') %>
                                                    <%- include('partials/modals/word-choice') %>
                                                    <%- include('partials/modals/round-result') %>
                                                    <%- include('partials/modals/game-end') %>
                                                    <%- include('partials/modals/ready-check') %>
                                                    <%- include('partials/modals/lobby-settings') %>
                                                    <%- include('partials/modals/user-settings') %>
                                                    <%- include('partials/modals/clear-options') %>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script type="module" src="client.js"></script>
    </body>

</html>